index=index++;
var image=images[index];
var nextimg=images[index+1];
="var url='http://photomattmills.com/images/#{dir}/';"
document.getElementById("slide").src=url+image;
document.getElementById("next").src=url+nextimage;