!!!
%html
  %head
    %title
      Not Untitled
    %link{:href=>"/rss/", :rel=>"alternate", :title=>"RSS", :type=>"application/rss+xml",}
    %link{:rel=>"stylesheet", :href=>"http://notuntitled.com/stylesheets/blog.css"} 
    %script{:type=>"text/javascript", :language=>"JavaScript"}
      ="var images=#{array_string};"
      var index = 0;
      function next_image(){
      index=index+1;
      if(index>images.length-1){index=0;}
      var image=images[index];
      var nextimg=images[index+1];
      ="var url='http://photomattmills.com/images/#{dir}';"
      document.getElementById("slide").src=url+image;
      document.getElementById("next").src=url+nextimg; 
      }
      function previous(){
      index=index-1;
      if(index<0){index=images.length-1;}
      var image=images[index];
      var nextimg=images[index+1];
      ="var url='http://photomattmills.com/images/#{dir}';"
      document.getElementById("slide").src=url+image;
      document.getElementById("next").src=url+nextimg;
      }
  %body
    #page
      #content
        #header
          #top
            %a{:href=>"/", :class=>"title"}
              Not Untitled
          #bottom
            My name is Matt Mills. I spit hot photos.
        #main
          #content-wrapper
            #content
              %br
              .center
                %h3="Nothing to see here."
        %br
        %br
        #footer
          #p
            Copyright &copy; 2010, Matt Mills. All rights reserved.
            #br