!!!
%html
  %head
    %title
      Not Untitled
    %link{:href=>"/rss/", :rel=>"alternate", :title=>"RSS", :type=>"application/rss+xml",}
    %link{:rel=>"stylesheet", :href=>"http://notuntitled.com/stylesheets/blog.css"} 

    #page
      #content
        #header
          #top
            %a{:href=>"/", :class=>"title"}
              Not Untitled
          #bottom
            My name is Matt Mills. I spit hot photos.
        #main
          #content-wrapper
            #content
              %br
              .center
                %h3="Nothing to see here."
                %p="No seriously. Go away."
        %br
        %br
        #footer
          #p
            Copyright &copy; 2010, Matt Mills. All rights reserved.
            #br